@media screen and (max-width:767px){
	.header{
		width:250px;
		height:100px;
		background-color: #141f40;
	}
	.left{
		float:left;
		width:100px;
		height:100px;
		background-color: #80bfa8;
	}
	.right{
		float:right;
		width:150px;
		height:100px;
		background-color: #8c2727;
	}
	.footer{
		width:250px;
		height:100px;
		background-color: #d98d30;
	}








}
