@media screen and (max-width: 767px) {
	.header{
		width:250px;
		height:100px;
		background-color: #141f40;
	}
	.left{
		float:left;
		width:150px;
		height:250px;
		background-color: #80bfa8;
	}
	.right{
		float:left;
		width:100px;
		height:250px;
		background-color: #8c2727;
	}
	.main{
		height:250px;
	}
	.footer{
		width:250px;
		height:100px;
		background-color: #d98d30;
	}
}
@media screen and (max-width: 479px) {
	.header{
		width:150px;
		height:100px;
		background-color: #141f40;
	}
	.left{

		width:150px;
		height:250px;
		background-color: #80bfa8;
	}
	.right{

		width:150px;
		height:250px;
		background-color: #8c2727;
	}
	.main{
		height:250px;
	}
	.footer{
		width:150px;
		height:100px;
		background-color: #d98d30;
	}
}
