
	.header{
		width:400px;
		height:100px;
		background-color: #141f40;
	}
	.left{
		float:left;
		width:150px;
		height:250px;
		background-color: #80bfa8;
	}
	.right{
		float:left;
		width:250px;
		height:250px;
		background-color: #8c2727;
	}
	.main{
		height:250px;
	}
	.footer{
		width:400px;
		height:100px;
		background-color: #d98d30;
	}
	
